{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>pdf worker</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link href = "{% static 'css/compress.css' %}" rel="stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"> </script>
    <script src = "{% static 'js/compress.js' %}"></script>
</head>
<body>
    <script>0</script>
    <header>
        <div id="logo">
            <img src="{% static 'img/index.jpg' %}"></img>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </header>
    <div id="file-upload">
        <form method="POST" enctype="multipart/form-data" action="" hidden id="file-form">
        {% csrf_token %}
        <input type="file" id="file-upload-input" name="files" accept="image/*"/>
        </form>
        <div class="image-cnt">
            <div id="imgnrslt">
              <div id="image">
                <img id="img-source" src=""></img>
              </div>
              <div id="out-rslt">
                <div id="out-rslt-cnt">
                    <div id="quality-manager">
                        <input type="button" id="dec-btn" value="<"/>
                        <input type="text" maxlength="3" id="quality-value" value="80"/>
                        <input type="button" id="inc-btn" value=">"/>
                    </div>
                    <div id="out-img">
                        <img src=""></img>
                    </div>
                    <div id="out-img-size">
                        Image size : <span>20 Kb</span>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div id="btn-frame">
            <input type="button" value="+" id="add-file"/>
            <button id="download-btn" disabled><a>Download</a></button>
        </div>
    </div>
    <footer>
    </footer>
</body>
</html>