{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>pdf worker</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link href = "{% static 'css/front.css' %}" rel="stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"> </script> 
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src = "https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src = {% static 'js/mine.js' %}></script>
    <script src = {% static 'js/pdf.js' %}></script>
    <script src = {% static 'js/csrf.js' %}></script>
</head>
<body>
    <script>0</script>
    <header>
        <div id="logo">
            <img src="{% static 'img/index.jpg' %}"></img>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </header>
    <div id="file-upload">
        <form method="POST" enctype="multipart/form-data" action="" hidden id="file-form">
        {% csrf_token %}
        <input type="file" id="file-upload-input" name="files" accept="application/pdf" multiple/>
        </form>
        <div class="dragndrop">
            <div id="dragndrop-ui">


            
            </div>
        </div>
        <div id="btn-frame">
            <div id="type-frame">
                <button id="type-btn"><span id="chng-span">Normal</span><span id="dropup-btn">^</span></button>
                <div>
                    <span>Normal</span>
                    <span>2</span>
                    <span>4</span>
                </div>
            </div>
            <input type="button" value="Merge" id="merge-btn"/>
            <input type="button" value="+" id="add-file"/>
            <button id="download-btn" disabled><a>Download</a></button>
        </div>
    </div>
    <footer>
    </footer>
</body>
</html>